@import "tailwindcss";
/* @import "tw-animate-css";

@custom-variant dark (&:is(.dark *)); */

html {
  scroll-behavior: smooth;
}

.bg-wedding {
  background-image: url("../components/template/v1/assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

body {
  font-family: var(--font-lato);
}

@theme {
  --color-primary: #b67c3d;
  --color-secondary: #2c3e50;
  --font-pacifico: "Playball", cursive;
  --font-lato: "Dosis", sans-serif;
  --font-bebas: "Bebas Neue", cursive;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
  }
}
